@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.hidden {
  position: absolute;
  opacity: 0;
  left: -99999px;
}

#header {
  width: 100%;
  height: 72px;
}
#header .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#header .inner .web_menu {
  width: 100%;
  padding-top: 24px;
  float: left;
}
#header .inner .web_menu #gnb {
  width: 50%;
  height: 20px;
  color: #bebebe;
  float: left;
}
#header .inner .web_menu #gnb li {
  float: left;
  border-right: 1px solid #282828;
  margin-right: 15px;
  padding-right: 15px;
}
#header .inner .web_menu #gnb li:last-child {
  border-right: none;
}
#header .inner .web_menu #gnb li a {
  font: bold 14px/1 "Roboto", sans-serif;
  display: block;
  color: #282828;
}
#header .inner .web_menu #gnb li a i {
  margin-right: 5px;
}
#header .inner .web_menu .log {
  height: 100%;
  float: right;
}
#header .inner .web_menu .log li {
  float: left;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
#header .inner .web_menu .log li:last-child {
  margin-right: 0;
}
#header .inner .web_menu .log li a {
  display: block;
  font: bold 14px/1 "Roboto", sans-serif;
  padding: 5px 10px;
  color: #282828;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
}
#header .inner .web_menu .log li a:hover {
  background: #6d6d6d;
  color: #fff;
}

#visual .visual {
  width: 100%;
  height: 100vh;
  background: #eee;
  color: #000;
  margin: 0;
  padding: 0;
}
#visual .visual .swiper {
  width: 100%;
  height: 100%;
  background: #000;
}
#visual .visual .swiper .swiper-pagination {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 60vh;
  transform: translateX(-50%);
}
#visual .visual .swiper .swiper-pagination span {
  width: 90px;
  height: 9px;
  border-radius: 0;
  margin-left: 0px;
}
#visual .visual .swiper .swiper-pagination:last-child {
  margin-left: 0;
}
#visual .visual .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
#visual .visual .swiper .swiper-slide {
  overflow: hidden;
  align-items: center;
}
#visual .visual .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual .visual .swiper .swiper-slide img:nth-of-type(1), #visual .visual .swiper .swiper-slide img:nth-of-type(2) {
  filter: grayscale(1);
  opacity: 0.8;
}
#visual .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#visual .inner .cp_name {
  width: 220px;
  height: 320px;
  position: absolute;
  left: 50%;
  top: 15vh;
  transform: translateX(-50%);
  z-index: 3;
}
#visual .inner .cp_name img {
  width: 100%;
}

#middle_menu {
  width: 100%;
  height: 300px;
  position: relative;
}
#middle_menu .inner {
  width: 1180px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -28vh;
  background: #fff;
  z-index: 5;
}
#middle_menu .inner #tab_btn {
  width: 100%;
  height: 75px;
  top: 0;
}
#middle_menu .inner #tab_btn li {
  width: 33.3333333333%;
  background: #eeeeee;
  cursor: pointer;
  position: absolute;
  top: 0;
  border-right: 2px solid #fff;
}
#middle_menu .inner #tab_btn li:nth-of-type(1) {
  left: 0%;
}
#middle_menu .inner #tab_btn li:nth-of-type(2) {
  left: 33.3333333333%;
}
#middle_menu .inner #tab_btn li:nth-of-type(3) {
  left: 66.6666666667%;
  border-right: none;
}
#middle_menu .inner #tab_btn li a {
  display: block;
  padding: auto;
  font: bold 20px/75px "Roboto", sans-serif;
  color: #353535;
  text-align: center;
}
#middle_menu .inner #tab_btn li.on a {
  background: #fff;
}
#middle_menu .inner #tab_btn div {
  width: 100%;
  height: 50px;
  display: none;
  text-align: center;
}
#middle_menu .inner #tab_btn div a {
  font-size: 50px;
  line-height: 200px;
}
#middle_menu .inner #tab_btn div.on {
  display: block;
}
#middle_menu .inner .intro {
  width: 100%;
  height: 350px;
  position: relative;
}
#middle_menu .inner .intro h2 {
  width: 100%;
  font: bold 72px/1 "Roboto", sans-serif;
  color: #2a2a2a;
  text-align: center;
  margin: 50px auto 30px;
}
#middle_menu .inner .intro h3 {
  width: 570px;
  font: bold 14px/1 "Roboto", sans-serif;
  color: #2a2a2a;
  letter-spacing: 3px;
  line-height: 20px;
  margin: 0 auto 40px auto;
  text-align: center;
}
#middle_menu .inner .intro .p_wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#middle_menu .inner .intro .p_wrap p {
  width: 520px;
  font: bold 14px/1.5 "Roboto", sans-serif;
  color: #bebebe;
  margin-bottom: 40px;
}
#middle_menu .inner .intro .p_wrap .left {
  margin-right: 20px;
  text-align: right;
}

#banner {
  width: 100%;
  position: relative;
  background: #fff;
}
#banner .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
#banner .inner section {
  width: 300%;
  height: 480px;
}
#banner .inner section div {
  width: 33.3333333333%;
  height: 100%;
  float: left;
  transition: 0.5s;
  background: #000;
  margin-bottom: 100px;
}
#banner .inner section div img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  background: no-repeat center/cover;
  opacity: 0.9;
  filter: grayscale(1);
}
#banner .inner .bn_btn {
  width: 30%;
  height: 20px;
  margin: 0 auto;
}
#banner .inner .bn_btn li {
  width: 90px;
  height: 9px;
  float: left;
  margin-right: 4px;
  cursor: pointer;
}
#banner .inner .bn_btn li a {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: #bebebe;
}
#banner .inner .bn_btn li.on a {
  background-color: #000;
}
#banner .inner .bn_btn li:last-child {
  margin-right: 0;
}

#compare {
  width: 100%;
  padding: 200px 0;
}
#compare .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#compare .inner h1 {
  font: bold 24px/1 "Roboto", sans-serif;
  color: #555;
  text-align: center;
  margin-bottom: 50px;
}
#compare .inner .wrap {
  width: 100%;
}
#compare .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#compare .inner .wrap article {
  width: 280px;
  margin-right: 20px;
  float: left;
}
#compare .inner .wrap article:last-child {
  margin-right: 0px;
}
#compare .inner .wrap article .pic {
  width: 100%;
  height: 290px;
  overflow: hidden;
}
#compare .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
#compare .inner .wrap article .pic:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}
#compare .inner .wrap article h2 {
  margin-bottom: 10px;
}
#compare .inner .wrap article h2 a {
  font: bold 16px/1 "Roboto", sans-serif;
  color: #555;
}
#compare .inner .wrap article p {
  font: 14px/1.3 "Roboto", sans-serif;
  color: #777;
}

#promo {
  width: 100%;
  padding: 150px 0;
  background: url(../img/promo2.jpg) no-repeat center/cover fixed;
  filter: grayscale(1);
  background-attachment: fixed;
}
#promo .inner {
  width: 1180px;
  margin: 0 auto;
}
#promo .inner h1 {
  font: bold 60px/1 "Roboto", sans-serif;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
#promo .inner p {
  font: 16px/1.3 "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}

#news {
  width: 100%;
  padding: 100px 0;
  background: #2a2a2a;
}
#news .inner {
  width: 1180px;
  margin: 0 auto;
}
#news .inner h1 {
  font: bold 20px/1 "Roboto", sans-serif;
  color: #fff;
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: #6d6d6d;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  font: bold 16px "arial";
  letter-spacing: 3px;
}

/*# sourceMappingURL=style.css.map */
