@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Hahmlet&family=Montserrat&family=Poppins&family=Sunflower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.hidden {
  position: absolute;
  opacity: 0;
  left: -99999px;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
}

.sign_up .sub_bg {
  height: 250px;
  background: #000 url(../img/sign_up.jpg) no-repeat center/cover;
  opacity: 0.7;
}
.sign_up .inner {
  width: 880px;
  padding: 80px;
  margin: 0 auto;
}
.sign_up .inner h1 {
  font: bold 18px/1 "Sunflower", sans-serif;
  color: #555;
  text-align: center;
  border-bottom: 1px solid #bbb;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sign_up .inner form .all_agree {
  font: bold 15px/2 "Hahmlet", serif;
  letter-spacing: 1.2px;
}
.sign_up .inner form h2 {
  font: 14px/1 "Hahmlet", serif;
  letter-spacing: 1px;
  margin: 10px 0 5px 0;
}
.sign_up .inner form #terms {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 20px;
  font: 12px/1.3 "Sunflower", sans-serif;
  color: #888;
  background: #eee;
}
.sign_up .inner form .agree {
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}
.sign_up .inner form .agree label[for=agree] {
  font-size: 12px;
}
.sign_up .inner form .agree input {
  margin-left: 5px;
  width: 10px;
  height: 10px;
}
.sign_up .inner form table {
  width: 100%;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
.sign_up .inner form table th {
  width: 23%;
  padding: 15px;
  font: bold 14px/1 "Sunflower", sans-serif;
  color: #666;
  text-align: left;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
.sign_up .inner form table th i {
  font-size: 5px;
  margin-left: 5px;
  color: orangered;
}
.sign_up .inner form table th:last-child {
  background: #fff;
  text-align: center;
  border-right: none;
}
.sign_up .inner form table th input[type=submit],
.sign_up .inner form table th input[type=reset] {
  width: 150px;
  height: 40px;
  font: bold 14px/1 "Sunflower", sans-serif;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
}
.sign_up .inner form table th input[type=submit]:hover,
.sign_up .inner form table th input[type=reset]:hover {
  transform: scale(1.03);
}
.sign_up .inner form table th input[type=reset] {
  border: 1px solid #444;
  background: #fff;
  color: #444;
}
.sign_up .inner form table th input[type=submit] {
  border: none;
  background: #444;
  color: #fff;
}
.sign_up .inner form table td {
  border-bottom: 1px solid #bbb;
  padding: 15px;
  font: 14px/1 "Hahmlet", serif;
}
.sign_up .inner form table td input[type=text],
.sign_up .inner form table td input[type=password] {
  width: 35%;
  height: 30px;
  border: 1px solid #bbb;
  padding-left: 20px;
}
.sign_up .inner form table td input#phone {
  width: 100px;
}
.sign_up .inner form table td input[type=checkbox],
.sign_up .inner form table td input[type=radio] {
  margin-right: 5px;
}
.sign_up .inner form table td label {
  margin-right: 30px;
}
.sign_up .inner form table td select#phone {
  width: 20%;
  height: 30px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #bbb;
  padding-left: 20px;
  margin-right: 5px;
  font-family: "Sunflower", sans-serif;
}
.sign_up .inner form table td input#email::-webkit-input-placeholder {
  font-family: "Hahmlet", serif;
}
.sign_up .inner form table td select#company {
  width: 30%;
  height: 30px;
  border: 1px solid #bbb;
  padding-left: 20px;
}
.sign_up .inner form table td p {
  font-size: 11px;
}

#header {
  width: 100%;
  height: 72px;
}
#header .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#header .inner .web_menu {
  width: 100%;
  padding-top: 25px;
  float: left;
}
#header .inner .web_menu #gnb {
  width: 50%;
  height: 20px;
  color: #bebebe;
  float: left;
}
#header .inner .web_menu #gnb li {
  float: left;
  border-right: 1px solid #282828;
  margin-right: 15px;
  padding-right: 15px;
}
#header .inner .web_menu #gnb li:last-child {
  border-right: none;
}
#header .inner .web_menu #gnb li a {
  font: bold 14px/1 "Roboto", sans-serif;
  display: block;
  color: #282828;
}
#header .inner .web_menu #gnb li a i {
  margin-right: 5px;
}
#header .inner .web_menu .log {
  height: 100%;
  float: right;
}
#header .inner .web_menu .log li {
  float: left;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
#header .inner .web_menu .log li:last-child {
  margin-right: 0;
}
#header .inner .web_menu .log li a {
  display: block;
  font: bold 14px/1 "Roboto", sans-serif;
  padding: 5px 10px;
  color: #282828;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
}
#header .inner .web_menu .log li a:hover {
  background: #6d6d6d;
  color: #fff;
}

#visual .visual {
  width: 100%;
  height: 100vh;
  background: #eee;
  color: #000;
  margin: 0;
  padding: 0;
}
#visual .visual .swiper {
  width: 100%;
  height: 100%;
  background: #000;
}
#visual .visual .swiper .swiper-pagination {
  height: 20px;
  position: absolute;
  left: 50%;
  top: 60vh;
  transform: translateX(-50%);
}
#visual .visual .swiper .swiper-pagination span {
  width: 90px;
  height: 9px;
  border-radius: 0;
  margin-left: 0px;
}
#visual .visual .swiper .swiper-pagination:last-child {
  margin-left: 0;
}
#visual .visual .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
#visual .visual .swiper .swiper-slide {
  overflow: hidden;
  align-items: center;
}
#visual .visual .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual .visual .swiper .swiper-slide img:nth-of-type(1), #visual .visual .swiper .swiper-slide img:nth-of-type(2) {
  filter: grayscale(1);
  opacity: 0.8;
}
#visual .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#visual .inner .cp_name {
  width: 220px;
  height: 320px;
  position: absolute;
  left: 50%;
  top: 15vh;
  transform: translateX(-50%);
  z-index: 3;
}
#visual .inner .cp_name img {
  width: 100%;
}

#middle_menu {
  width: 100%;
}
#middle_menu .inner {
  width: 1180px;
  margin: 0 auto;
  background: #fff;
}
#middle_menu .inner .sub_gnb {
  width: 100%;
  height: 80px;
  top: 0;
  position: relative;
  display: inline-flex;
}
#middle_menu .inner .sub_gnb > li {
  width: 33.3333333333%;
  background: #eeeeee;
  cursor: pointer;
  border-right: 2px solid #fff;
  position: relative;
  margin-bottom: 10px;
  transition: all 1s;
}
#middle_menu .inner .sub_gnb > li > a {
  display: block;
  padding: auto;
  font: bold 20px/80px "Roboto", sans-serif;
  color: #353535;
  text-align: center;
  position: relative;
}
#middle_menu .inner .sub_gnb > li:hover {
  background: #333;
}
#middle_menu .inner .sub_gnb > li:hover > a {
  color: #fff;
}
#middle_menu .inner .sub_gnb > li .sub_menu {
  width: 100%;
  display: none;
  background: #fff;
  text-align: center;
  transition: 0.5s;
}
#middle_menu .inner .sub_gnb > li .sub_menu ul {
  width: 250px;
  margin: auto;
  border: 1px solid #333;
}
#middle_menu .inner .sub_gnb > li .sub_menu ul li {
  height: 40px;
  background: #fff;
}
#middle_menu .inner .sub_gnb > li .sub_menu ul li a {
  font: 15px/40px "Roboto", sans-serif;
  display: inline-block;
  color: #333;
  letter-spacing: 2px;
}
#middle_menu .inner .sub_gnb > li:hover .sub_menu {
  display: block;
}
#middle_menu .inner .sub_gnb > li:hover .sub_menu ul li:hover {
  background: #353535;
}
#middle_menu .inner .sub_gnb > li:hover .sub_menu ul li:hover a {
  color: #fff;
}
#middle_menu .inner .intro {
  width: 100%;
  height: 350px;
  position: relative;
}
#middle_menu .inner .intro h2 {
  width: 100%;
  font: bold 72px/1 "Roboto", sans-serif;
  color: #2a2a2a;
  text-align: center;
  margin: 30px auto;
}
#middle_menu .inner .intro h3 {
  width: 570px;
  font: bold 14px/1 "Roboto", sans-serif;
  color: #2a2a2a;
  letter-spacing: 3px;
  line-height: 20px;
  margin: 0 auto 40px;
  text-align: center;
}
#middle_menu .inner .intro .p_wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#middle_menu .inner .intro .p_wrap p {
  width: 520px;
  font: 14px/1.5 "Roboto", sans-serif;
  color: #bebebe;
  margin-bottom: 40px;
}
#middle_menu .inner .intro .p_wrap .left {
  margin-right: 20px;
  text-align: right;
}

#banner {
  width: 100%;
  position: relative;
  background: #fff;
}
#banner .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
#banner .inner section {
  width: 300%;
  height: 480px;
}
#banner .inner section div {
  width: 33.3333333333%;
  height: 100%;
  position: relative;
  float: left;
  transition: 0.5s;
  background: #000;
  margin-bottom: 100px;
}
#banner .inner section div img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  background: no-repeat center/cover;
  opacity: 0.8;
  filter: grayscale(1);
}
#banner .inner section div p {
  width: 100%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font: 900 72px/1.3 "Roboto", sans-serif;
  text-align: center;
  color: #fff;
  letter-spacing: 25px;
}
#banner .inner section div a {
  display: block;
  border: 1px solid #fff;
  font: bold 14px/1.2 "Roboto", sans-serif;
  color: #000;
  letter-spacing: 4px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  padding: 15px 25px;
}
#banner .inner .bn_btn {
  width: 278px;
  height: 20px;
  margin: 0 auto;
}
#banner .inner .bn_btn li {
  width: 90px;
  height: 9px;
  float: left;
  margin-right: 4px;
  cursor: pointer;
}
#banner .inner .bn_btn li a {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-color: #bebebe;
}
#banner .inner .bn_btn li.on a {
  background-color: #000;
}
#banner .inner .bn_btn li:last-child {
  margin-right: 0;
}

#compare {
  width: 100%;
  padding: 200px 0;
}
#compare .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#compare .inner h1 {
  font: bold 24px/1 "Roboto", sans-serif;
  color: #555;
  text-align: center;
  margin-bottom: 50px;
}
#compare .inner .wrap {
  width: 100%;
}
#compare .inner .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#compare .inner .wrap article {
  width: 280px;
  margin-right: 20px;
  float: left;
}
#compare .inner .wrap article:last-child {
  margin-right: 0px;
}
#compare .inner .wrap article .pic {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
}
#compare .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  margin-bottom: 20px;
}
#compare .inner .wrap article .pic::after {
  content: "";
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}
#compare .inner .wrap article .pic a {
  display: none;
  position: absolute;
  right: -20%;
  bottom: -20%;
  transition: 0.5s;
  background-color: #fff;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
#compare .inner .wrap article .pic a i {
  font-size: 25px;
  color: #282828;
}
#compare .inner .wrap article .pic:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}
#compare .inner .wrap article .pic:hover a {
  display: flex;
}
#compare .inner .wrap article h2 {
  margin-bottom: 20px;
}
#compare .inner .wrap article p {
  font: 14px/1.3 "Roboto", sans-serif;
  color: #777;
  margin-bottom: 20px;
}
#compare .inner .wrap article a {
  display: block;
  width: 180px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #fff;
  font: bold 14px/50px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  background: #000;
  cursor: pointer;
  transition: 0.3s;
}
#compare .inner .wrap article a:hover {
  opacity: 0.7;
}
#compare .inner .wrap article a i {
  font-size: 20px;
  padding-left: 7px;
}

#promo {
  width: 100%;
  padding: 150px 0;
  background: url(../img/promo2.jpg) no-repeat center/cover fixed;
  filter: grayscale(1);
  background-attachment: fixed;
}
#promo .inner {
  width: 1180px;
  margin: 0 auto;
  overflow: hidden;
}
#promo .inner h1 {
  font: bold 60px/1 "Roboto", sans-serif;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}
#promo .inner p {
  font: 16px/1.3 "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}
#promo .inner a {
  display: block;
  position: absolute;
  width: 180px;
  height: 50px;
  border: 1px solid #fff;
  font: bold 14px/50px "Roboto", sans-serif;
  color: #000;
  background: #fff;
  text-align: center;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.7s;
  bottom: 0;
  opacity: 0;
}
#promo:hover .inner a {
  opacity: 1;
  bottom: 30px;
}

#footer {
  width: 100%;
  padding: 80px 0;
  background: #2a2a2a;
  position: relative;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#footer .inner .wrap1 {
  padding-left: 30px;
}
#footer .inner .wrap1 > a {
  display: block;
  font: bold 20px/1 "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 15px;
  cursor: pointer;
}
#footer .inner .wrap1 ul {
  display: flex;
  flex-direction: column;
}
#footer .inner .wrap1 ul li {
  margin-bottom: 10px;
  color: #999;
}
#footer .inner .wrap1 ul li a {
  font: bold 16px/1 "Poppins", sans-serif;
  color: #999;
}
#footer .inner .wrap2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
#footer .inner .wrap2 h1 {
  font: bold 24px "Arimo", sans-serif;
  letter-spacing: 3px;
}
#footer .inner .wrap2 h1::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #000;
  margin: 20px 0;
}
#footer .inner .wrap2 p {
  font: 12px/1 "Arimo", sans-serif;
}
#footer .inner .wrap3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#footer .inner .wrap3 div {
  display: flex;
  justify-content: space-evenly;
}
#footer .inner .wrap3 div i {
  font-size: 25px;
  color: #999;
  cursor: pointer;
}
#footer .inner .wrap3 address {
  font: 14px/1.3 "Poppins", sans-serif;
  color: #999;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
