.contact {
	width: 100%;
	.container {
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		.enquire {
			float: left;
			width: 100%;
			height: 100%;
			padding: 0 50px;
			h2 {
				font: 25px/50px $kr-font;
				margin-bottom: 10px;
				margin-left: 20px;
			}
			form {
				position: relative;
				width: 55%;
				height: 420px;
				display: flex;
				flex-direction: column;
				border: 1px solid #ddd;
				float: left;
				margin-bottom: 100px;
				margin-right: 5%;
				input[type='text'] {
					height: 50px;
					margin: 10px 20px;
					padding-left: 20px;
					border: none;
					font-family: $main-font;
					font-size: 15px;
					background: $bg-color;
					&:nth-of-type(4) {
						height: 100px;
					}
				}
				input[type='submit'] {
					width: 150px;
					height: 50px;
					color: #fff;
					background-color: #6d6d6d;
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					border: none;
					right: 20px;
					bottom: 20px;
					transition: 0.5s;
					&:hover {
						color: #000;
					}
				}
			}
			.info {
				float: left;
				width: 40%;
				height: 420px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				div {
					.contact-subtitle {
						font: 18px/1 $main-font;
						text-decoration: underline;
						text-underline-position: under;
					}
					span {
						display: block;
						font: 16px/1 $main-font;
						margin-top: 10px;
					}
					.contact-contents {
						font: 16px/1 $main-font;
						margin-top: 10px;
						margin-bottom: 30px;
					}
					.sns-icons {
						margin-top: 20px;
						i {
							font-size: 18px;
							margin-right: 10px;
						}
					}
				}
			}
		}

		.location {
			position: relative;
			float: left;
			width: 100%;
			padding: 0 50px;
			h2 {
				font: 25px/50px $kr-font;
				margin-bottom: 10px;
				margin-left: 20px;
			}
			#map {
				width: 100%;
				height: 450px;
				border: 1px solid #eee;
				margin-bottom: 20px;
				filter: invert(1) grayscale(1);
				opacity: 0.7;
				transition: 0.5s;
				&:hover {
					filter: invert(0) grayscale(0);
					opacity: 1;
				}
			}
			.traffic {
				display: flex;
				float: left;
				width: 90px;
				height: 40px;
				justify-content: center;
				align-items: center;
				border: 1px solid #555;
				border-radius: 25px;
				background: #fff;
				color: #555;
				&.on {
					color: #fff;
					background: #555;
					//on클래스가 있으면 버튼 배경색 바뀌지 않음
					&:hover{
						background: #555;
					}
				}
				&:hover{
					background:#eee;
				}
			}

			.branch {
				float: right;
				li {
					float: left;
					margin-left: 10px;
					a {
						display: block;
						width: 120px;
						height: 40px;
						background: #fff;
						font: bold 14px/40px $kr-font;
						color: #555;
						text-align: center;
						border: 1px solid #555;
						border-radius: 25px;
					}
					&.on {
						a {
							color: #fff;
							background: #555;
						}
						//on클래스가 있으면 버튼 배경색 바뀌지 않음
						&:hover a{
							background-color: #555;
						}
					}
					&:hover a {
						background: #eee;
					}
				}
			}
		}
	}
}

// @media screen and (max-width: $tablet-plus)

@media screen and (max-width: $tablet-origin) {
	.contact {
		.sub-bg {
			height: 220px;
		}
		.container {
			.location {
				.branch {
					li a {
						width: 90px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.contact {
		.container {
			width: 100%;
			.enquire {
				padding: 0;
				form {
					width: 100%;
					margin-right: 0;
					margin-bottom: 30px;
				}
				.info {
					width: 100%;
					height: 460px;
					border: 1px solid #ddd;
					padding: 20px;
					margin-bottom: 50px;
				}
			}
			.location {
				padding: 0;
				#map {
					height: 300px;
				}
				.traffic {
					width: 50px;
					position: absolute;
					top: 10px;
					right: 0px;
					z-index: 2;
				}
				.branch {
					float: left;
					li {
						&:first-child {
							margin-left: 0;
						}
						a {
							font: 12px/40px $kr-font;
							width: 75px;
						}
					}
				}
			}
		}
	}
}
