//font
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Hahmlet&family=Montserrat&family=Poppins&family=Roboto:wght@400;700&family=Sunflower&display=swap");

//reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

fieldset {
	border: none;
}

.hidden {
	position: absolute;
	opacity: 0;
	left: -99999px;
}
fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}
