@charset 'utf-8';
@import "reset.scss";
@import "fonts.scss";

#header {
	width: 100%;
	height: 72px;
	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		.web-menu {
			width: 42%;
			padding-top: 24px;
			float: left;
			ul {
				height: 20px;
				color: #bebebe;
				li {
					float: left;
					border-right: 1px solid #282828;
					margin-right: 15px;
					padding-right: 15px;
					&:last-child {
						border-right: none;
					}
					a {
						font: bold 14px/1 "Roboto", sans-serif;
						display: block;
						color: #282828;
					}
				}
			}
		}
		> div {
			width: 5vw;
			height: 100%;
			float: left;
			position: absolute;
			right: 200px;
			span {
				display: inline-block;
				font: bold 14px/72px "Roboto", sans-serif;
				color: #282828;
			}
			div {
				display: none;
				&.on {
					display: block;
					height: 20px;
					color: #bebebe;
					a {
						float: left;
						font: bold 16px/1 "Roboto", sans-serif;
						margin-right: 10px;
						padding-right: 20px;
						display: block;
					}
				}
			}
		}

		div {
			float: right;
			a {
				i {
					font-size: 25px;
					line-height: 72px;
					color: #282828;
				}
			}
		}
	}
}

#visual {
	width: 100%;
	height: 750px;
	position: relative;
	overflow: hidden;
	background: #000;
	article {
		.main-bg {
			width: calc(100% * 3);
			height: 100%;
			li {
				width: calc(100% / 3);
				height: 100%;
				float: left;
				transition: 0.5s;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&[data-index="1"] {
					filter: grayscale(95%);
					opacity: 0.8;
				}
				&[data-index="2"] {
					filter: grayscale(95%);
					opacity: 0.8;
				}
				&[data-index="3"] {
					filter: grayscale(1);
					opacity: 0.8;
				}
			}
		}
		.bg-btn {
			width: 20%;
			height: 20px;
			position: absolute;
			left: 40%;
			bottom: 35%;
			z-index: 20;
			li {
				width: 90px;
				height: 9px;
				float: left;
				margin-right: 4px;
				cursor: pointer;
				a {
					display: block;
					width: 100%;
					height: 100%;
					transition: 0.5s;
					background-color: #bebebe;
				}
				&.on a {
					background-color: #fff;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		.cp_name {
			width: 220px;
			height: 320px;
			position: absolute;
			left: 50%;
			top: 5%;
			margin-left: -110px;
			z-index: 3;
			h1 {
				font: 600 75px/1 "Poppins", sans-serif;
				letter-spacing: -30px;
				color: #fff;
				writing-mode: vertical-lr;
				text-orientation: upright;
			}
		}
	}
}

#middle-menu {
	width: 100%;
	.inner {
		width: 1180px;
		margin: 0 auto;
		.intro {
			width: 100%;
			height: 350px;
			position: relative;
			h2 {
				width: 100%;
				font: bold 72px/1 "Roboto", sans-serif;
				color: #2a2a2a;
				text-align: center;
				padding-top: 20px;
			}
			h3 {
				width: 570px;
				font: bold 14px/1 "Roboto", sans-serif;
				color: #2a2a2a;
				letter-spacing: 3px;
				line-height: 20px;
				margin: 0 auto;
				padding: 20px 0 10px;
				text-align: center;
			}
			.pWrap {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;

				p {
					width: 520px;
					margin-top: 20px;
					font: bold 14px/1.5 "Roboto", sans-serif;
					color: #bebebe;
				}
				.left {
					margin-right: 20px;
					text-align: right; //적용안됨
				}
				// .right {
				// }
			}
		}
	}
}

#banner {
	width: 100%;
	height: 100vh;
}
#compare {
	width: 100%;
	height: 100vh;
}
#promo {
	width: 100%;
	height: 698px;
	background-color: #000;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 90%;
		filter: grayscale(1);
		background-attachment: fixed;
	}
}
#news {
	width: 100%;
	height: 50vh;
}
footer {
	width: 100%;
	height: 50vh;
}
