@charset 'utf-8';
@import 'reset.scss';
@import 'sub_layout.scss';
@import 'sign_up.scss';
@import 'contact.scss';
@import 'review.scss';
@import 'youtube.scss';
@import 'gallery.scss';
@import 'office.scss';

$tablet-plus: 1180px;
$tablet-origin: 900px;
$mobile: 600px;

$bg-color: #e3e3e3;
$main-font: 'Jost', sans-serif;
$kr-font: 'Hahmlet', serif;

//헤더 영역
#header {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	transition: 0.5s;
	z-index: 3;
	&:hover {
		background: rgba(255, 255, 255, 0.2);
		z-index: 2;
	}
	.container {
		width: 1180px;
		height: 100%;
		margin: 0 auto;

		//onclick - up to top button
		.on-top {
			display: none;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			justify-content: center;
			align-items: center;
			position: fixed;
			right: 30px;
			bottom: 30px;
			z-index: 5;
			background: transparent;
			border: 2px solid #555;
			background-color: rgba(255, 255, 255, 0.6);
			i {
				font-size: 20px;
				color: #000;
			}
		}

		.web-menu {
			width: 100%;
			padding-top: 28px;
			margin-left: 10px;
			float: left;
			.web-h1 {
				float: left;
				padding-right: 3vw;
				a {
					display: block;
					font: bold 16px/1 $main-font;
					color: #eee;
					transition: 0.5s;
					&:hover {
						color: #000;
					}
					i {
						margin-right: 5px;
					}
				}
			}

			nav {
				#gnb {
					width: 50vw;
					height: 20px;
					float: left;
					> li {
						float: left;
						padding-right: 3vw;
						&:hover a {
							color: #000;
						}
						a {
							display: block;
							font: bold 16px/1 $main-font;
							color: #eee;
							transition: 0.5s;
						}
					}
				}
			}
			.log {
				height: 100%;
				float: right;
				margin-right: 10px;
				li {
					float: left;
					height: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 10px;
					a {
						display: block;
						font: 16px/1 $main-font;
						padding: 5px 10px;
						color: #eee;
						border: 1px solid #6d6d6d;
						border-radius: 3px;
						&:hover {
							background: #6d6d6d;
							color: #000;
						}
					}
				}
			}
			.tablet-log {
				display: none;
			}
		}
		.btn-call {
			display: none;
			width: 20px;
			height: 20px;
			position: absolute;
			right: 30px;
			top: 30px;
			z-index: 5;
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 0;
				left: 0;
				background: #000;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #000;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 50%;
				left: 0;
				background: #000;
				margin-top: -1px;
				transition: 1s;
				text-indent: -9999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			}
		}
		.mob-menu {
			display: none;
			width: 100%;
			height: 90px;
			.mob-logo {
				width: 132px;
				height: 90px;
				a {
					display: block;
					width: 100%;
					height: 100%;
					background: url(../img/logo_white.png) no-repeat center/cover;
				}
			}
			.side-menu {
				display: flex;
				flex-direction: column;
				width: 270px;
				height: 100vh;
				position: fixed;
				top: 0;
				left: -270px;
				background: #1c1c1c;
				padding: 35px 30px;
				z-index: 6;
				transition: 0.5s;
				&.on {
					left: 0;
				}
				.mob-h1 {
					width: 143px;
					height: 45px;
					display: block;
					margin: 0 auto;
					margin-bottom: 20px;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.mob-log {
					li {
						width: 70%;
						height: 40px;
						margin: 0 auto;
						text-align: center;
						a {
							display: block;
							font: 14px/1 $main-font;
							padding: 5px 10px;
							color: #fff;
							border: 1px solid #6d6d6d;
							border-radius: 3px;
							text-align: center;
							&:hover {
								background: #6d6d6d;
								color: #fff;
							}
						}
					}
				}
				#mob_gnb {
					li {
						a {
							display: block;
							width: 100%;
							padding: 20px 0;
							border-bottom: 1px solid #444;
							font: bold 14px/1 $main-font;
							color: #888;
							text-align: center;
						}
					}
				}
			}
		}
	}
	&.on .container .on-top {
		display: flex;
	}
}

//visual 영역(메인 슬라이드)화면
#visual {
	width: 100%;
	height: 100vh;
	.visual {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;

		.container {
			width: 1180px;
			height: 100%;
			margin: 0 auto;
			.cp-name {
				width: 220px;
				position: absolute;
				left: 50%;
				top: 17vh;
				transform: translateX(-50%);
				z-index: 3;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.panel {
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgb(5, 5, 0);

			li {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;

				&.on img {
					opacity: 0.8;
					transform: scale(1.05);
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: grayscale(1);
					opacity: 0;
					transform: scale(1);
					transition: opacity 0.5s, transform 4s;
				}
			}
		}

		.vs-btns {
			position: absolute;
			height: 20px;
			left: 50%;
			top: 65vh;
			transform: translateX(-50%);
			display: flex;
			gap: 5px;

			li {
				width: 90px;
				height: 9px;
				background: #000;
				opacity: 0.3;
				cursor: pointer;
				transition: 0.5s;

				&.on {
					background: #fff;
					opacity: 1;
				}
			}
		}
	}
}

//메인 슬라이드 밑 3단메뉴 영역
#middle_menu {
	width: 100%;
	position: relative;
	margin-top: -15vh;
	z-index: 2;
	&.on .container {
		.sub-gnb {
			position: fixed;
			width: 1180px;
			z-index: 3;
			> li {
				background: #353535;
				span {
					color: #ffffff;
				}
				&:hover {
					background: #bbb;
					span {
						color: #333;
					}
				}
			}
		}
	}
	.container {
		width: 1180px;
		margin: 0 auto;
		background: #fff;
		.sub-gnb {
			width: 100%;
			height: 80px;
			top: 0;
			position: relative;
			display: inline-flex;
			> li {
				width: calc(100% / 3);
				background: #eeeeee;
				cursor: pointer;
				border-right: 2px solid #fff;
				position: relative;
				margin-bottom: 2px;
				transition: 0.5s;
				&:last-child {
					border-right: 0;
				}
				span {
					display: block;
					padding: auto;
					font: bold 20px/78px 'Roboto', sans-serif;
					color: #353535;
					text-align: center;
					position: relative;
				}
				&:hover {
					background: #333;
					span {
						color: #fff;
					}
					.sub-menu {
						width: 100%;
						display: block;
						background: #fff;
						text-align: center;
						transition: 0.5s;
						ul {
							width: 250px;
							margin: auto;
							border: 1px solid #333;
							position: absolute;
							top: 80px;
							z-index: 3;
							li {
								height: 40px;
								background: #fff;
								&:hover {
									background: #353535;
									a {
										color: #fff;
									}
								}
								a {
									font: 15px/ 40px 'Roboto', sans-serif;
									display: inline-block;
									color: #333;
									letter-spacing: 2px;
								}
								&.isSub:hover .sub-menu-2 {
									position: absolute;
									display: block;
									margin-top: -120px;
									margin-left: 249px;
									li:hover {
										background: #333;
										a {
											color: #fff;
										}
									}
								}
								.sub-menu-2 ul li a {
									color: #333;
								}
							}
						}
					}
				}

				.sub-menu {
					display: none;

					.sub-menu-2 {
						display: none;
					}
				}
			}
		}
		.intro {
			width: 100%;
			position: relative;
			h2 {
				width: 100%;
				font: bold 72px/1 'Roboto', sans-serif;
				color: #2a2a2a;
				text-align: center;
				margin: 60px auto;
			}
			h3 {
				width: 900px;
				font: bold 25px/35px 'Roboto', sans-serif;
				color: #2a2a2a;
				letter-spacing: 3px;
				margin: 0 auto 40px;
				text-align: center;
			}
			.p-wrap {
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				p {
					width: 520px;
					font: 15px/1.5 'Roboto', sans-serif;
					color: #bebebe;
					margin-bottom: 60px;
				}
				.left {
					margin-right: 20px;
					text-align: right;
				}
			}
		}
	}
}

//두번째 슬라이드 영역
#banner {
	width: 100%;
	position: relative;
	background: #fff;
	.container {
		width: 1180px;
		position: relative;
		margin: 0 auto;
		overflow: hidden;
		section {
			width: calc(100% * 3);
			height: 480px;
			div {
				width: calc(100% / 3);
				height: 100%;
				position: relative;
				float: left;
				transition: 0.5s;
				background: #000;
				margin-bottom: 100px;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					position: relative;
					object-fit: cover;
					background: no-repeat center/cover;
					opacity: 0.8;
					filter: grayscale(1);
					transition: 0.5s;
					&:hover {
						filter: grayscale(0);
					}
				}
				p {
					width: 100%;
					position: absolute;
					top: 15%;
					left: 50%;
					transform: translateX(-50%);
					font: 700 72px/1.5 'Roboto', sans-serif;
					text-align: center;
					padding: 0 10px;
					color: #fff;
					letter-spacing: 20px;
				}
				a {
					display: block;
					border: 1px solid #fff;
					font: bold 14px/1.2 'Roboto', sans-serif;
					color: #000;
					letter-spacing: 5px;
					background: #fff;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 10%;
					padding: 15px 25px;
				}
			}
		}
		.bn-btn {
			position: absolute;
			left: 50%;
			bottom: 5%;
			transform: translateX(-50%);
			li {
				width: 90px;
				height: 9px;
				float: left;
				margin-right: 4px;
				cursor: pointer;
				a {
					display: block;
					width: 100%;
					height: 100%;
					transition: 0.5s;
					background-color: #bebebe;
				}
				&.on a {
					background-color: #000;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

//offer 영역
#offer {
	padding: 150px 0;
	overflow: hidden;
	h1 {
		width: 100%;
		font: bold 24px/1 $main-font;
		color: #555;
		text-align: center;
		margin-bottom: 50px;
	}
	.container {
		width: 200%;
		position: relative;
		margin-left: 17vw;
		h2 {
			margin-bottom: 10px;
			text-align: center;
			a {
				font: bold 16px/1 'Roboto', sans-serif;
				color: #282828;
			}
			&:hover {
				transform: scale(1.02);
			}
		}
		p {
			text-align: center;
			font: 14px/1.3 'Roboto', sans-serif;
			color: #777;
			margin-bottom: 20px;
		}
		.wrap {
			width: 100%;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: 280px;
				margin-right: 20px;
				float: left;
				&:last-child {
					margin-right: 0px;
				}
				.frame {
					width: 100%;
					height: 320px;
					position: relative;
					.pic {
						width: 100%;
						height: 280px;
						overflow: hidden;
						position: relative;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							transition: 0.5s;
							margin-bottom: 20px;
						}
						.here {
							display: none;
							width: 100px;
							height: 100px;
							border-radius: 50%;
							position: absolute;
							right: 0;
							bottom: 0;
							color: red;
							opacity: 0;
							transition: 0.5s;
							z-index: 4;
						}
						a {
							display: none;
							position: absolute;
							right: -20%;
							bottom: -20%;
							transition: 0.5s;
							background-color: #fff;
							width: 150px;
							height: 150px;
							border-radius: 100%;
							justify-content: center;
							align-items: center;
							opacity: 0.6;
							i {
								font-size: 25px;
								color: #282828;
							}
						}
						&.on .here {
							display: none;
							transform: scale(20);

							//클릭하면 on클래스가 toggle되지만 화면상에 안보임
						}
					}
					.review {
						display: none;
						position: absolute;
						bottom: 10px;
						z-index: 3;
						a {
							i {
								color: gold;
								font-size: 10px;
								margin-left: 3px;
							}
						}
					}
					.btn-offer {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 130px;
						height: 35px;
						border: 1px solid #fff;
						border-radius: 5px;
						font: 11px/35px 'Roboto';
						color: #fff;
						letter-spacing: 1px;
						background: #000;
						margin: 8px auto;
						transition: 0.3s;
						&:hover {
							opacity: 0.7;
						}
						i {
							font-size: 14px;
							padding-left: 5px;
						}
					}
					&:hover {
						img {
							transform: scale(1.1);
							opacity: 0.9;
						}
						a {
							display: flex;
						}
						.review {
							display: flex;
						}
					}
				}
			}
		}
	}
}

//배경 fixed 영역
#promo {
	width: 100%;
	padding: 70px 0;
	background: url(../img/promo2.jpg) no-repeat center/cover fixed;
	filter: grayscale(1);
	background-attachment: fixed;

	.container {
		width: 1180px;
		margin: 0 auto;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		.wrap {
			width: 30%;
			display: flex;
			flex-direction: column;
			margin: auto 50px;
			h1 {
				float: left;
				font: 700 70px/1.3 'Roboto';
				letter-spacing: 8px;
				color: #fff;
				margin-bottom: 20px;
			}
			p {
				display: block;
				float: left;
				font: bold 24px/1.5 $main-font;
				letter-spacing: 2px;
				color: #fff;
				margin-bottom: 80px;
			}
			a {
				display: block;
				position: absolute;
				width: 180px;
				height: 50px;
				border: 1px solid #fff;
				font: bold 14px/50px 'Roboto';
				color: #000;
				background: #fff;
				text-align: center;
				letter-spacing: 1px;
				cursor: pointer;
				bottom: 0;
				opacity: 1;
				bottom: 50px;
			}
		}
		.wrap2 {
			display: flex;
			flex-direction: column;
			width: 30%;
			padding-top: 15px;
			color: #fff;
			font: 14px/35px $main-font;
			letter-spacing: 1px;
			opacity: 0.9;
			p {
				line-height: 2.3;
			}
		}
	}
}

//track영역
#track {
	width: 100%;
	padding: 80px 0;
	background: #000;
	position: relative;
	.container {
		width: 1180px;
		margin: 0 auto;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		h1 {
			width: 100%;
			margin-bottom: 60px;
			font: bold 24px/1 $main-font;
			color: #fff;
			text-align: center;
		}
		figure {
			float: left;
			width: 50%;
			height: 380px;
			margin-bottom: 40px;
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.record {
			float: right;
			min-width: 40%;
			height: 400px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			div {
				display: flex;
				align-items: center;
				width: 100%;
				color: #fff;
				font: 20px/1 $main-font;
				img {
					width: 72px;
					margin-right: 15px;
				}
				p {
					display: inline-block;
					font: bold 20px/1 $main-font;
					margin-right: 3px;
				}
			}
		}
	}
}

//footer영역
#footer {
	width: 100%;
	padding: 80px 0;
	background: #1c1c1c;
	position: relative;
	.container {
		width: 1180px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.wrap1 {
			padding-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			> a {
				display: block;
				font: bold 18px/1 $main-font;
				color: #fff;
				margin-bottom: 10px;
				cursor: pointer;
			}
			ul {
				display: flex;
				flex-direction: column;
				li {
					margin-top: 10px;
					color: #999;
					a {
						font: bold 16px/1 $main-font;
						color: #999;
					}
				}
			}
		}

		.web-wrap2 {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			text-align: center;
			img {
				margin-bottom: 10px;
			}
			p {
				font: 12px/1 'Montserrat';
				color: #999;
			}
		}
		.mob-wrap2 {
			display: none;
			flex-direction: column;
			justify-content: flex-end;
			width: 150px;
			h1 {
				font: bold 15px 'Montserrat';
				letter-spacing: 2px;
				text-align: center;
				color: #333;
				text-shadow: 0 1px 1px #999;
				&::after {
					content: '';
					display: block;
					width: 150px;
					height: 1px;
					background: #6d6d6d;
					margin: 10px 0;
				}
			}
			p {
				font: 10px/1 'Montserrat';
				text-align: center;
				color: #6d6d6d;
			}
		}

		.wrap3 {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			width: 250px;
			div {
				display: flex;
				justify-content: space-evenly;
				i {
					font-size: 25px;
					color: #999;
					cursor: pointer;
				}
			}
			address {
				font: 14px/1.3 $main-font;
				color: #999;
				margin-top: 10px;
			}
		}
	}
}

//미디어쿼리 3영역으로 구분
//$tablet-plus (901px~1180px)
//$tablet-origin (600px~899px)
//$mobile (~599px)
@media screen and (max-width: $tablet-plus) {
	//header 영역
	#header {
		.container {
			width: 100%;
			padding: 0px 30px;
			.web-menu {
				padding-top: 22px;
				#gnb {
					width: 65%;
					li a {
						font: bold 13px/1 $main-font;
					}
				}
				.log {
					margin-right: 0;
					li a {
						font: bold 13px/1 $main-font;
					}
				}
			}
		}
	}
	//visual 영역
	#visual .visual {
		.swiper .swiper-pagination {
			top: 70vh;
			span {
				width: 75px;
			}
		}
		.container {
			width: 100%;
		}
	}

	//middle_menu영역
	#middle_menu {
		&.on .container {
			width: 100%;
			.sub-gnb {
				width: 100%;
				padding: 0px 30px;
				left: 0;
			}
		}
		.container {
			width: 100%;
			padding: 0px 30px;
			background: #fff;
			.sub-gnb {
				width: 100%;
				height: 65px;
				> li {
					span {
						font: bold 18px/65px 'Roboto', sans-serif;
					}
					&:hover {
						.sub-menu {
							ul {
								top: 65px;
							}
						}
					}
				}
			}
			.intro {
				height: 300px;
				h2 {
					font: bold 55px/1 'Roboto', sans-serif;
					margin: 20px auto;
				}
				h3 {
					width: 100%;
					font: bold 20px/35px 'Roboto', sans-serif;
				}
				span {
					font: bold 14px/1 'Roboto', sans-serif;
					letter-spacing: 2px;
					line-height: 20px;
					margin: 0 auto 40px;
					text-align: center;
				}
				.p-wrap {
					p {
						font: 13px/1.5 'Roboto', sans-serif;
					}
					.left {
						margin-right: 20px;
						text-align: right;
					}
				}
			}
		}
	}

	//banner영역
	#banner {
		padding: 0 30px;
		.container {
			width: 100%;
			section {
				height: 430px;
				div {
					margin-bottom: 80px;
					p {
						top: 10%;
						font: 900 65px/1.4 'Roboto', sans-serif;
					}
				}
			}
			.bn-btn {
				li {
					width: 75px;
				}
			}
		}
	}

	//offer 영역
	#offer {
		padding: 100px 30px;
		.container {
			width: 100%;
			.wrap {
				padding: 0 5%;
				article {
					width: 47%;
					margin-right: 6%;
					margin-bottom: 30px;
					&:nth-of-type(2n) {
						margin-right: 0;
					}
					.frame {
						height: 360px;
						.review {
							bottom: 40px;
							a {
								i {
									font-size: 15px;
								}
							}
						}
						.btn-offer {
							margin: 20px auto;
						}
					}
				}
			}
		}
	}

	//promo 영역
	#promo {
		padding: 100px 30px;
		.container {
			width: 100%;
			.wrap {
				width: 100%;
				margin-right: 0;
				h1 {
					font: 700 60px/1.2 'Roboto', sans-serif;
					text-align: center;
				}
				p {
					font: 50px/1.3 'Roboto', sans-serif;
					text-align: center;
				}
				a {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	//track 영역
	#track {
		padding: 70px 30px;
		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			figure {
				width: 500px;
				height: 350px;
			}
			.record {
				display: block;
				min-width: 350px;
				height: 100%;
				div {
					display: flex;
					align-items: center;
					height: 80px;
				}
			}
		}
	}

	//footer영역
	#footer {
		padding: 60px 0;
		.container {
			width: 100%;
			.mob-wrap2 {
				display: none;
			}
			.wrap3 {
				width: 200px;
				margin-right: 30px;
				address {
					font: 14px/1.3 $main-font;
					color: #999;
					margin-top: 20px;
				}
			}
		}
	}
}

//$tablet-origin (600px~899px)
@media screen and (max-width: $tablet-origin) {
	//header
	#header {
		.container {
			.web-menu {
				position: relative;
				width: 100%;
				height: 100%;
				.web-h1 {
					a {
						font: bold 13px/1 $main-font;
					}
				}
				nav {
					#gnb {
						width: 64vw;
						li {
							margin-left: 10px;
							a {
								font: bold 13px/1 $main-font;
							}
						}
					}
				}
				.log {
					display: none;
				}
				.tablet-log {
					display: block;
					width: 60px;
					height: 100%;
					float: right;
					margin-right: 0px;
					li {
						width: 20px;
						float: left;
						text-align: right;
						&:first-child {
							margin-right: 20px;
						}
						a {
							color: #fff;
							i {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}

	//visual
	#visual {
		.visual {
			.container {
				.cp-name {
					width: 170px;
					top: 25vh;
				}
			}
		}
	}

	//middle_menu
	#middle_menu {
		.container {
			.sub-gnb {
				> li {
					&:hover {
						.sub-menu {
							ul {
								width: 200px;
								li {
									&isSub:hover .sub-menu-2 {
										margin-left: 399px;
									}
									.sub-menu-2 {
										margin-top: 0px;
										ul {
											width: 200px;
											li {
												a {
													letter-spacing: 1px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	//banner
	#banner {
		.container {
			section {
				div {
					p {
						font: 900 55px/1.3 'Roboto', sans-serif;
						letter-spacing: 15px;
					}
				}
			}
		}
	}

	//offer
	#offer {
		.container {
			.wrap {
				article {
					.frame {
						.review {
							left: 50%;
							transform: translateX(-50%);
							bottom: 57px;
						}
						a {
							margin: 30px auto 0 auto;
						}
					}
				}
			}
		}
	}

	//promo
	#promo {
		.container {
			.wrap2 {
				display: none;
			}
		}
	}

	//footer{
	#footer {
		.container {
			.wrap1 {
				> a {
					font: bold 16px/1 $main-font;
				}
				ul {
					li {
						margin-top: 5px;
						a {
							font: bold 14px/1 $main-font;
						}
					}
				}
			}
		}
	}
}

//$mobile (~599px)
@media screen and (max-width: $mobile) {
	//header
	#header {
		height: 90px;
		background: $bg-color;
		&:hover {
			background: $bg-color;
		}
		.container {
			position: relative;
			.web-menu {
				display: none;
			}
			.btn-call {
				display: block;
			}
			.mob-menu {
				display: block;
			}
		}
	}

	//visual
	#visual {
		.visual {
			height: 85vh;
			.container {
				.cp-name {
					display: none;
				}
			}
			.vs-btns {
				li {
					width: 50px;
				}
			}
		}
	}

	//middle-menu
	#middle_menu {
		z-index: 1;
		.container {
			.sub-gnb {
				display: none;
			}
			.intro {
				width: 100%;
				height: 400px;
				h2 {
					padding-top: 30px;
					font: bold 40px/1 'Roboto', sans-serif;
				}
				span {
					width: 100%;
					margin: 20px auto;
				}
				.p-wrap {
					flex-wrap: wrap;
					p {
						width: 100%;
						margin-bottom: 20px;
						text-align: center;
					}
					.left {
						margin-right: 0;
						text-align: center;
					}
				}
			}
		}
	}

	//banner
	#banner {
		.container {
			section {
				div {
					p {
						top: 10%;
						font: 900 45px/1.3 'Roboto', sans-serif;
						letter-spacing: 5px;
					}
				}
			}
			.bn-btn {
				li {
					width: 50px;
				}
			}
		}
	}

	//offer
	#offer {
		.container {
			.wrap {
				article {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}

	//promo{
	#promo {
		padding: 50px 20px;
		.container {
			.wrap {
				margin: auto;
			}
		}
	}

	//track
	#track {
		padding: 30px 20px;
		.container {
			figure {
				width: 100%;
				height: 100%;
			}
		}
	}

	//footer
	#footer {
		padding: 30px 0;
		.container {
			.wrap1 {
				ul {
					li {
						margin-top: 0px;
					}
				}
			}
			.mob-wrap2 {
				display: flex;
			}
			.web-wrap2 {
				display: none;
			}

			.wrap3 {
				width: 30px;
				div {
					display: flex;
					flex-direction: column;
					i {
						font-size: 20px;
						margin-top: 20px;
					}
				}
				address {
					display: none;
				}
			}
		}
	}
}
